/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, button,aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




:root{
  /* COLORS */
  --HH_red: #8D1B28;
  --HH_grey: rgb(58, 58, 58);

  /* BOXSHADOW */
  --HH_boxshadow: 0px 0px 10px grey;
  --HH_button_boxshadow: 0px 8px 4px rgb(27, 27, 27);
  --HH_button_active_boxshadow: 0px 2px 5px black;


  /* FONT */
  --HH_font: 'Work Sans', sans-serif;
  --HH_font_color: black;
  --HH_2nd_font_color:white;

  /* IMAGES */
 
}





.App {
  font-family: var(--HH_font);
  font-weight: 400;
  font-size: 18px;
}
.body{
  height: 100vh;
  /* background: var(--HH_red); */
  padding:0px 0px 420px 0px;
  z-index: -1;
}
h3 {
  font-size: 100px;
  font-weight: 600;
  letter-spacing: -6px;
  color: rgb(109, 109, 109)
}



.button{
  height: 50px;
  width: 300px;
  text-align: center;
  border: none;
  outline: none;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 8px 4px rgb(27, 27, 27);
}
.button:hover{
background: rgb(155, 155, 155)
}
.button:active{
  box-shadow: 0px 2px 5px black;
  transform: translateY(4px);
}




#HHE_news{
  background: var(--HH_grey);
  width: 60vw;
  height: 75vh;
  float: right;
  right: 0px;
  padding: 110px 20px 20px 20px;
  /* margin-top: 130px; */
}
#HHE_picture{
  background: black;
  width: 45vw;
  height: 55vh;
  position: absolute;
  z-index: 1;
  margin: 10% 0px 0px 0px;
  padding: 20px;
}






.message_icon_box{
  background: #8D1B28;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  right: 40px;
  bottom: 25px;
  z-index: 10 !important;
  box-shadow: 0px 0px 0px;
}
.message_icon_box:hover{
  box-shadow: 0px 5px 25px rgb(70, 19, 19);
}
.messageicon{
  margin: 13px;
  height: 35px;
}

footer{
  height: 400px;
  background: var(--HH_grey);
  color: var(--HH_font_color);
  text-align: center;
  padding: 30px;
}
.socail_icon{
  margin: 10px;
}
