/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, button,aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




:root{
  /* COLORS */
  --HH_red: #8D1B28;
  --HH_grey: rgb(209, 209, 209);

  /* BOXSHADOW */
  --HH_boxshadow: 0px 0px 10px grey;
  --HH_button_boxshadow: 0px 8px 4px rgb(27, 27, 27);
  --HH_button_active_boxshadow: 0px 2px 5px black;


  /* FONT */
  --HH_font: 'Work Sans', sans-serif;
  --HH_font_color: black;
  --HH_2nd_font_color:white;

  /* IMAGES */
  --HHE_background: url(./Images/o.jpg);
  --HHE_commercial_image: url(./Images/Hedgehog_Comm.jpg);
  --HHE_service_image: url(./Images/hedgehog_service.jpg);
  --HHE_solar_image: url(./Images/hedgehog_solar.jpg);
}





.App {
  font-family: var(--HH_font);
  font-weight: 400;
  font-size: 18px;
  /* letter-spacing: 1px; */
  /* font-style: italic; */
}
.body{
  height: 100vh;
  background-image: var(--HHE_background);
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  z-index: -1;
  opacity: .3;
}
.Nav{
  padding: 20px;
  background: var(--HH_red);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
#navbuttons{
  float:right;
  display: flex;
  justify-content:space-evenly;
  flex-direction: row;
  width: 900px;
  float: right;
  align-items: center;
}
.navbutton{
  list-style: none;
  border: none;
  background: var(--HH_red);
  color: var(--HH_2nd_font_color)
}
.navbutton:hover{
 color: black;
}
.button{
  height: 50px;
  width: 300px;
  text-align: center;
  border: none;
  outline: none;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 8px 4px rgb(27, 27, 27);
}
.button:hover{
background: rgb(155, 155, 155)
}
.button:active{
  box-shadow: 0px 2px 5px black;
  transform: translateY(4px);
}
#schedule_button{
  height: 50px;
  width: 250px;
  text-align: center;
  border: none;
  outline: none;
  background: white;
}
#schedule_button:hover{
  /* background: rgb(197, 197, 197) */
  box-shadow: 0px 5px 25px rgb(70, 19, 19);
}
#schedule_button:active{
  transform: scale(0.97);
  box-shadow: 0px 0px 0px;
}



.HHE_logo {
  height: 80px;
}





.choiceboxmain {
  display: flex;
  justify-content: space-evenly;
}

.choicebox{
  width: 470px;
  height: 300px;
  background: white;
  color: black;
  /* box-shadow: 0px 0px 20px rgb(192, 192, 192); */
  transition: transform .2s;
  background-size: cover;
}
.choicebox:hover {
  transform: scale(1.1);
  /* box-shadow: 0px 20px 40px rgb(61, 61, 61); */
}

.choicebox_title{
  color: var(--HH_2nd_font_color);
  opacity: 0;
  min-height: 100%;
  transition: transform .2s;
  background: black;
  opacity: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.choicebox_title:hover{
  background: 0;
  opacity: 1;
}
.HHE_solar_image{
  background-image: var(--HHE_solar_image)
}
.HHE_service_image{
  background-image: var(--HHE_service_image)
}
.HHE_comm_image{
  background-image: var(--HHE_commercial_image)
} 


.message_icon_box{
  background: #8D1B28;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  right: 50px;
  bottom: 55px;
  z-index: 10 !important;
  box-shadow: 0px 0px 0px;
}
.message_icon_box:hover{
  box-shadow: 0px 5px 25px rgb(70, 19, 19);
}
.messageicon{
  margin: 15px;
  height: 40px;
}

footer{
  height: 400px;
  background: var(--HH_grey);
  color: var(--HH_font_color);
  text-align: center;
  padding: 30px;
}
.socail_icon{
  margin: 10px;
}
